body {
    background-color: #FFFFFF;
    color: #666666
}

h1 {
    background-color: #000033;
    color: #FFFFFF
}

nav {
    background-color: #90C7E3;
}

h2 {
    color: #3399CC;
}

dt {
    color: #000033;
}

resort {
    color: #5C7FA3;
}